{{#with game}}
<div class="images">
  <div class="container-image">
    <img class="primary" id="primary" src="{{game_image}}" alt="{{name}}" />
    <div class="info">
      <div class="info-column">

        <h2><span class="game_titles">GAME:</span> {{name}}</h2>
        <p><span class="game_titles" >GameID:</span><span id="gameId">{{id}}</span></p>
        <p><span class="game_titles">Publisher:</span> {{publisher}}</p>
        <p><span class="game_titles">Platforms:</span> {{platform}}</p>
        <p class="game_titles">Categories:</p>
        <ul class="list">
          {{{format_list categories}}}
        </ul>
      </div>
      <div class="info-column">
        <p class="game_titles">Genres</p>
        <ul class="list">
          {{{format_list genres}}}
        </ul>
        <p class="game_titles">game_type</p>
        <div class="list">
          {{{format_list game_type}}}
        </div>
      </div>  
    </div>
  </div> 
<div id="screenShots">
    {{#each screenshots as |image|}}
    <div class="thumb">
      <img src="{{image.img_url}}" alt="{{name}}" />
    </div>  
    {{/each}}
</div>

</div>
<div class="description">
  <h3>Description:</h3>
  <p>{{description}}</p>
</div>

 <div class="comments">
  {{#if comments}}
  {{#each comments}}
    {{>comments}}
  {{/each}}
  {{/if}}
</div>

{{/with}} 

<div class="game_comments" id="addComment">Add Comment</div>

<div id="toggleComment" style = "display:none">
  <div class="comments_title">
    <label for="commentText" class="form-label">Comment</label>
    <textarea type="text" class="form-control" id="commentText" rows="5" required></textarea>
  </div>
  <div class="comments_title">
    <button type="submit" class="login_button" id="submitComment">Add Comment</button>
  </div>
</div>

 <script src="/js/addComment.js"></script>
 <script src="/js/screenshots.js"></script>
 <script src="/js/ratings.js"></script>