{{#with game}}
<div class="images">
    {{!-- Overerlay star ratings on game image --}}
  {{!-- Overerlay star ratings on game image --}}
  <div class="container-image">
    <div class="rating-container">
      {{!-- {{#renderStars rating}} --}}
      {{rating}}<span>{{game.rating}} {{checked.rating}}</span>
      <span class="fa fa-star" id="star-1"></span>
      <span class="fa fa-star" id="star-2"></span>
      <span class="fa fa-star" id="star-3"></span>
      <span class="fa fa-star" id="star-4"></span>
      <span class="fa fa-star" id="star-5"></span>
      {{!-- {{/renderStars}} --}}
    </div>
    <img class="primary" id="primary" src="{{game_image}}" alt="{name}}" />
    <div class="rating-container">
      {{!-- {{#renderStars rating}} --}}
      {{rating}}<span>{{game.rating}} {{checked.rating}}</span>
      <span class="fa fa-star" id="star-1"></span>
      <span class="fa fa-star" id="star-2"></span>
      <span class="fa fa-star" id="star-3"></span>
      <span class="fa fa-star" id="star-4"></span>
      <span class="fa fa-star" id="star-5"></span>
      {{!-- {{/renderStars}} --}}
    </div>
    <img class="primary" id="primary" src="{{game_image}}" alt="{{name}}" />
    <div class="info">
      <h2><span class="game_titles">GAME:</span> {{name}}</h2>
      <p><span class="game_titles" >GameID:</span><span id="gameId">{{id}}</span></p>
      <p><span class="game_titles">Publisher:</span> {{publisher}}</p>
      <p><span class="game_titles">Platforms:</span> {{platform}}</p>
      <p class="game_titles">Categories:</p>
      <div class="list">
        {{{format_list categories}}}
      </div>
      <p class="game_titles">Genres</p>
      <div class="list">
        {{{format_list genres}}}
      </div>
      <p class="game_titles">game_type</p>
      <div class="list">
        {{{format_list game_type}}}
      </div>
    </div>
  </div>
<div id="screenShots">
    {{#each screenshots as |image|}}
      <img src="{{image.img_url}}" alt="{{name}}" />
    {{/each}}
</div>

</div>
<div class="description">
  <h3>Description:</h3>
  <p>{{description}}</p>
</div>

 <div class="comments">
  {{#if comments}}
  {{#each comments}}
    {{>comments}}
  {{/each}}
  {{/if}}
</div>

{{/with}} 

<div class="game_comments" id="addComment">Add Comment</div>

<div id="toggleComment" style = "display:none">
  <div class="comments_title">
    <label for="commentText" class="form-label">Comment</label>
    <input type="text" class="form-control" id="commentText" required>
  </div>
  <div class="comments_title">
    <button type="submit" class="login_button" id="submitComment">Add Comment</button>
  </div>
</div>

 <script src="/js/addComment.js"></script>
 <script src="/js/screenshots.js"></script>
 <script src="/js/ratings.js"></script>